
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> pentatrion/vite-bundle ###
/node_modules/
/public/build/
###< pentatrion/vite-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/config/jwt/test/
###< lexik/jwt-authentication-bundle ###

###> vs coded###
/.vscode/
###< vs code###

# ==================================================
# IDE 
# ==================================================
.DS_Store
Thumbs.db
/.idea/
/.vscode/

###login.sh###
### ec2 ssh login script ###
/login.sh

#PEM
/*.pem

#Env in subfolders
**/.env.local
**/.env.*.local

/.docker/.env